$pagePadding: 16px;

.help {
  width: 100%;
  margin: auto;
}

.subheading {
  font-family: 'karnakpro';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.instructions {
  font-family: 'Libre Franklin';
  font-size: 16px;
  line-height: 20px;
  list-style-type: disc;
  font-weight: 500;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 20px;
  color: var(--color-tone-1);

  li {
    margin-bottom: 4px;
  }

  li::marker {
    font-size: 18px;
  }
}

.examples {
  font-family: 'Libre Franklin';

  strong {
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.example {
  margin-top: 8px;
  margin-bottom: 20px;

  p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
  }
}

.tileContainer {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 4px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;

}

.page {
  padding: $pagePadding;
  padding-top: 0px;
}

.reminderSignUp {
  font-family: 'Libre Franklin';
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;

  a {
    color: var(--blue-2);
  }
}

/*---auth---*/
.statsLogin {
  font-family: 'Libre Franklin';
  position: relative;
  color: var(--color-tone-1);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding: 17px 0;
  border-top: 1px solid var(--gray-4);
  border-bottom: 1px solid var(--gray-4);
  margin: 0 auto 20px;

  button {
    border: none;
    background-color: transparent;
    font-family: 'Libre Franklin';
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding: 0px 0px 3px;
  }

  a,
  button {
    color: var(--blue-2);
  }

  .loginArrow {
    text-decoration: none;
    justify-self: flex-end;
  }

  .loginText {
    flex-grow: 2;
  }

  .statsIcon {
    margin-right: 10px;
  }
}

@media (max-width: 295px) {
  .tileContainer {
    height: 32px;
  }
}
